#Popout {
	max-height: 700px;
	overflow-y: auto;
}



#imageUpload {
	max-width: 250px;
	max-height: 250px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.classname {
	max-width: 250px;
	margin: 0 auto;
}

#submitBtn {
	margin: 0 auto;
}
