#Popout {
	max-height: 700px;
	overflow-y: auto;
}

#PostBtn {
	/*z-index: 10;*/
	background-color: transparent;
	border: white;
	font-family: 'Text Me One', sans-serif;
	text-transform: capitalize;

}

#imageUpload {
	max-width: 250px;
	max-height: 250px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.classname {
	max-width: 250px;
	margin: 0 auto;
}

#submitBtn {
	margin: 0 auto;
}
