/*  */
.side-nav, .userinfo {
	color: white;
	width: 300px;
	text-align: left;
}

.fa-linkedin-square{
	color: #6fcefa;
}

/* .userView{
	text-align: center !important;
} */

.user-info{

font-size: 20px;
font-family: 'Text Me One', sans-serif;
color: white;
}

.profileimage{
	max-height: 150px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.profilebtn{
	margin: 0 auto;
	color: black;
}


SideNavItem{
	color:white;
	text-align: left;
}

#slide-out {
	color: #6fcefa;
	opacity: 0.8;
}

#css {
	/* color: #6fcefa; */
	background-color: #6fcefa;
}

#linkedin, #github, #portfolio {
	color: white !important;
	font-size: 20px !important;
}



.fa-linkedin-square {
	color: lightblue !important;
	font-size: 30px;
	margin-right: 10px;
}

.fa-github-alt{
	color: lightgrey !important;
	font-size: 30px;
	margin-right: 10px;
}

.fa-link{
	color: orange !important;
	font-size: 30px;
	margin-right: 10px;
}

.style13{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	max-width: 75%;
}

h5{
	text-align: center;
	font-size: 40px;
	font-family: 'Text Me One', sans-serif;
	font-weight: bolder;
}

.bio{
	font-size: 30px;
	font-family: 'Text Me One', sans-serif;
	color: white;
}


.userView {
	text-align: center;
	font-family: 'Text Me One', sans-serif;
	font-size: 30px !important;
}

#linkedin, #github, #portfolio {
	font-family: 'Text Me One', sans-serif;
}
