/*  */
.side-nav, .userinfo {
	color: white;
	width: 300px;

}

SideNavItem{
	color:white;
}

#slide-out {
	color: #6fcefa;
}

#css {
	/* color: #6fcefa; */
	background-color: #6fcefa;
}

.fa-linkedin-square{
	color: #6fcefa;
}
#linkedin{
	color: white !important;
}
a{
	color: white;
}
