.CardElement {
  max-width: 300px;
  height: 400px;
  float: left;
  clear: right;
  margin: 20px;
  opacity: 1 !important;
}

.card-image {
	max-height: 50%;
	opacity: 0.8 !important;
}

.Card {
	opacity: 1 !important;
}

.img {
	max-height: 200px;
}
